.App {
  text-align: center;
  /* background-color: rgb(31, 30, 30); */
  background-image: linear-gradient(225deg, orange, rgb(31, 30, 30));
  color: white;
  min-width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@media (min-width: 600px) {
  .css-19r6kue-MuiContainer-root {
    /* opacity: 0.5; */
    background-color: rgb(24, 24, 24);
    /* background-color: transparent; */
    color: #f9a825;
    max-width: 98%;
    position: fixed;
    /* display: ; */
  }
}

/*
.MuiPaper-root
  .MuiPaper-elevation
  .MuiPaper-elevation4
  .MuiAppBar-root
  .MuiAppBar-colorPrimary
  .MuiAppBar-positionStatic
  .css-hip9hq-MuiPaper-root-MuiAppBar-root {
  
}

.MuiContainer-root .MuiContainer-maxWidthXl .css-19r6kue-MuiContainer-root {
}
.MuiToolbar-root .MuiToolbar-regular .css-1cndkqf-MuiToolbar-root {
}
.MuiTypography-root
  .MuiTypography-h6
  .MuiTypography-noWrap
  .css-1083xa6-MuiTypography-root {
}
.MuiBox-root .css-1lvtzne {
}
.MuiButtonBase-root
  .MuiIconButton-root
  .MuiIconButton-colorInherit
  .MuiIconButton-sizeLarge
  .css-1pz7awu-MuiButtonBase-root-MuiIconButton-root {
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
